body {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20240801/pngtree-beautiful-mountain-landscape-image_15938313.jpg");
}

h1 {
    color: navy;
    text-align: center;
}

br {
    text-align: auto;
    color: gold;
}
