body {
    background-image: url("https://img.freepik.com/free-photo/brown-watercolor-leaf-background-aesthetic-autumn-season_53876-143134.jpg?semt=ais_hybrid&w=740&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

p {
    text-align: auto;
    color: black;
}

.center-box {
    width: fit-content;        
    margin: 0 auto;            
    text-align: center;        
}

.center-box img {
    display: block;
    margin: 20px auto;         
    width: 300px;