body {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20240801/pngtree-beautiful-mountain-landscape-image_15938313.jpg");
    background-size: auto;
}

h1 {
    color: goldenrod;
    text-align: center;
}

p {
    text-align: auto;
    color: gold;
    text-shadow: 2px 2px 4px #000000;
}
